# format options
--allman false
--indent 4
--header strip
--self insert
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapreturntype preserve
--wrapeffects if-multiline
--wrapconditions before-first
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line
--computedvarattrs same-line
--marktypes never
--redundanttype inferred
--maxwidth 130
--shortoptionals always

# file options
--swiftversion 6.0
--exclude Package.swift

# rules
--enable isEmpty
--disable genericExtensions, andOperator, preferForLoop